<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.in.android_logger">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <provider
            android:authorities="${applicationId}.android_logger"
            android:name="apps.in.android_logger.LogFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>

